openapi: 3.0.3
info:
  title: Misora Connect API
  description: |
    SIM の管理、通信量の統計、データエクスポート、リチャージなどの機能を提供する REST API です。

    ## Authentication
    全てのリクエストに `x-api-key` ヘッダが必要です。

    ## Customer Code
    顧客スコープは認証情報（API Key / トークン）から決まります。`customer_code`（9桁数字）は省略可能で、省略時は認証情報に紐づく顧客コードが自動的に使用されます。

    明示的に指定する場合は、認証情報のスコープと一致している必要があります。異なる顧客コードを指定したリクエストは `403` で拒否されます（指定が無視されて別のデータが返ることはありません）。

    ## レスポンス形式
    全て JSON 形式で返却されます。

    ## 日時の表記
    日時を返す全てのフィールドは **RFC 3339 / ISO 8601 の UTC 表記** で統一されています。

    ```
    YYYY-MM-DDTHH:MM:SSZ      例: 2026-08-14T06:45:49Z
    ```

    - 日付と時刻の区切りは `T`、終端の `Z` は UTC を表します。**オフセットが無い日時は返しません。**
    - **秒精度です。** ミリ秒・マイクロ秒は返しません。
    - 値が無い場合は `null` を返します（`"1970-01-01T00:00:00Z"` のような代替値は返しません）。
    - 日付のみのフィールド（`opening_date` など、`format: date`）は `YYYY-MM-DD` です。
      時刻を持たないため、日時に格上げされることはありません。
    - `year_month` は `YYYYMM` の月識別子であり、日付ではありません（`format: date` / `date-time` の対象外）。

    ローカル時刻で表示したい場合は、受け取った UTC の値をクライアント側で変換してください。
    日本時間は UTC + 9 時間です（日本には夏時間がありません）。
  version: "1.0"

servers:
  - url: https://api.misora-connect.com/v1
    description: Production

security:
  - ApiKeyAuth: []

tags:
  - name: SIM Management
    description: SIM の一覧取得、詳細情報の参照、サマリー統計の取得
  - name: Statistics
    description: SIM の通信量統計・CDR（通信明細）・累積使用量
  - name: Exports
    description: SIM データの CSV/JSON/JSONL エクスポート
  - name: Recharges
    description: SIM プランのリチャージ（容量追加）管理

paths:
  # ===== SIM Management =====
  /sims:
    get:
      tags: [SIM Management]
      summary: ListSims — SIM 一覧取得
      description: |
        顧客に紐づく SIM のページネーション付き一覧を取得します。

        **表示対象**: Magic マイページの SIM 一覧と同じく、出荷手続き中または出荷済みの
        SIM・貸出SIM だけを返します。端末・レンタル端末や、プランが紐づいていない在庫は含まれません。
        `GET /v1/sims/count`・`/summary`・`/{sim_id}`・SIM の CSV エクスポートも同じ表示対象です。

        **母集団**: 既定（`include_terminated=false`）では `status <> 'terminated'` が対象です。
        在庫（`stock`）・停止（`inactive`）も含まれます。`include_terminated=true` では
        解約済みを含む全行が対象です。

        **行数について**: 応答は `mc_sims` ビューの行で、SIM の枚数と一致しないことがあります。
        同一 SIM が複数行に増幅する既知の問題があるためです（本番実測で約 0.3%）。
        件数だけが必要な場合は `GET /v1/sims/count` を使用してください。
      operationId: ListSims
      parameters:
        - $ref: "#/components/parameters/CustomerCode"
        - name: limit
          in: query
          description: 取得件数（最大 1000）
          schema:
            type: integer
            default: 100
            maximum: 1000
        - name: offset
          in: query
          description: ページネーションオフセット
          schema:
            type: integer
            default: 0
        - name: order_by
          in: query
          description: ソートキー
          schema:
            type: string
            default: sim_id
            enum: [sim_id, customer_code, status]
        - name: order_direction
          in: query
          description: ソート方向
          schema:
            type: string
            default: asc
            enum: [asc, desc]
        - name: include_terminated
          in: query
          description: |
            `true`: 解約済み SIM を**含む全件**を返す / `false`: 解約済み SIM を除外する。

            ⚠️ 2026-09 以前は `true` が「解約済み**のみ**」を返す排他的な切り替えでした。
            `true` と `false` の 2 回呼びで全件を合成していた場合は `true` 1 回に置き換えてください
            （そのままだと二重計上になります）。
          schema:
            type: boolean
            default: false
        - $ref: "#/components/parameters/SimIdPrefixFilter"
        - $ref: "#/components/parameters/MsisdnPrefixFilter"
        - name: filter_nulls
          in: query
          description: |
            `true`（既定）のとき、値が null のフィールドを **キーごと応答から除外** します
            （`null` として返るのではありません）。`false` にすると全フィールドが返り、
            値の無いものは `null` になります。
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Sim"
              example:
                - sim_id: "8981080000000012345"
                  customer_code: "110000001"
                  application_start_date: "2026-01-06"
                  carrier_opening_date: "2026-01-06"
                  communication_generation: "4G"
                  dns_primary: "192.0.2.53"
                  dns_secondary: "192.0.2.54"
                  imsi: "440090000000001"
                  ip_address: "192.0.2.1"
                  ip_address_type: "動的IP"
                  ipv6_address_dns_primary: ""
                  ipv6_address_dns_secondary: ""
                  ipv6_address: ""
                  line_category: "フルMVNO(Ph2.1)"
                  line_status_from_mc: "開通"
                  lines_status: "開通"
                  opening_date: "2026-01-06"
                  msisdn: "812000000000001"
                  realm: "example.invalid"
                  service_category: "データ"
                  shipping_date: "2026-01-06"
                  apn: "example.invalid"
                  active_plan_name: "5GB/月 ライト/フル 制限時256kbps"
                  product_name: "5GB/月 ライト/フル 制限時256kbps"
                  sim_category: "マルチSIM"
                  product_name_id: "5GB/月 ライト/フル 制限時256kbps"
                  status: "ready"
                  session_status: "online"
                  session_created_at: "2026-08-18T22:54:11Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /sims/{sim_id}:
    get:
      tags: [SIM Management]
      summary: GetSim — SIM 詳細取得
      description: |
        特定の SIM の詳細情報を取得します。

        `GET /v1/sims` の全フィールドに加えて、備考 `note` と一時停止フラグ `lines_temporary_stop` を
        返します（`SimDetail` スキーマ）。この 2 つは明細でのみ返り、一覧・CSV エクスポートには含まれません。

        SIM 一覧と共通のフィールドについては `Sim` スキーマを参照してください。

        表示対象は `GET /v1/sims` と同じです。`GET /v1/sims` の表示対象外の在庫は、
        ID を指定しても 404 になります。
      operationId: GetSim
      parameters:
        - name: sim_id
          in: path
          required: true
          description: SIM 識別子
          schema:
            type: string
        - $ref: "#/components/parameters/CustomerCode"
        - name: filter_nulls
          in: query
          description: |
            `true`（既定）のとき、値が null のフィールドを **キーごと応答から除外** します
            （`null` として返るのではありません）。`false` にすると全フィールドが返り、
            値の無いものは `null` になります。
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimDetail"
              example:
                sim_id: "8981080000000012345"
                customer_code: "110000001"
                application_start_date: "2026-01-06"
                carrier_opening_date: "2026-01-06"
                communication_generation: "4G"
                dns_primary: "192.0.2.53"
                dns_secondary: "192.0.2.54"
                imsi: "440090000000001"
                ip_address: "192.0.2.1"
                ip_address_type: "動的IP"
                ipv6_address_dns_primary: ""
                ipv6_address_dns_secondary: ""
                ipv6_address: ""
                line_category: "フルMVNO(Ph2.1)"
                line_status_from_mc: "開通"
                lines_status: "開通"
                opening_date: "2026-01-06"
                msisdn: "812000000000001"
                realm: "example.invalid"
                service_category: "データ"
                shipping_date: "2026-01-06"
                apn: "example.invalid"
                active_plan_name: "5GB/月 ライト/フル 制限時256kbps"
                product_name: "5GB/月 ライト/フル 制限時256kbps"
                sim_category: "マルチSIM"
                product_name_id: "5GB/月 ライト/フル 制限時256kbps"
                status: "ready"
                session_status: "online"
                session_created_at: "2026-08-18T22:54:11Z"
                note: "不良SIMのため交換対応済み"
                lines_temporary_stop: true
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /sims/count:
    get:
      tags: [SIM Management]
      summary: CountSims — SIM 件数取得
      description: |
        `GET /v1/sims` と同じ絞り込みに一致する行数を返します。
        一覧のフィルタ時件数表示や、CSV エクスポートへ誘導するかの判定に使用します。

        件数は `mc_sims` ビューの**行数**であり、SIM の枚数とは一致しません。
        表示対象・絞り込みの条件・意味論は `GET /v1/sims` と共通です。
      operationId: CountSims
      parameters:
        - $ref: "#/components/parameters/CustomerCode"
        - name: include_terminated
          in: query
          description: |
            `true`: 解約済み SIM を**含む全件**を数える / `false`: 解約済み SIM を除外する。

            ⚠️ 2026-09 以前は `true` が「解約済み**のみ**」を数える排他的な切り替えでした。
            `true` と `false` の 2 回呼びで全件を合算していた場合は `true` 1 回に置き換えてください。
          schema:
            type: boolean
            default: false
        - $ref: "#/components/parameters/SimIdPrefixFilter"
        - $ref: "#/components/parameters/MsisdnPrefixFilter"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimCount"
              example:
                count: 113683
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /sims/summary:
    get:
      tags: [SIM Management]
      summary: GetSimsSummary — SIM サマリー取得
      description: 顧客に紐づく SIM のうち、`GET /v1/sims` の表示対象の在庫の集計サマリー情報を取得します。
      operationId: GetSimsSummary
      parameters:
        - $ref: "#/components/parameters/CustomerCode"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimSummary"
              example:
                customer_code: "110139701"
                total: 439
                subscribed: 426
                ready: 330
                active: 2
                online: 16
                terminated: 13
                unknown: 94
                updated_at: "2026-08-12T15:04:31Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  # ===== Statistics =====
  /stats/sims/monthly_usage:
    get:
      tags: [Statistics]
      summary: ListMonthlyUsage — 月次通信量（全 SIM）
      description: |
        顧客の全 SIM の月次通信量集計データを取得します（直近12ヶ月分、year_month 降順）。

        SIM 再発行が発生した月に Salesforce が作る**合計行（旧 + 新の合算行）は集計から除外**されます（旧SIM 行と新SIM 行はそれぞれ合算されます）。除外しないと再発行月は二重計上になります。詳細は `/v1/stats/sims/monthly_usage_by_sim` の `reissue_category` を参照してください。

        該当データが無い場合は空配列 `[]` を返します（200）。
      operationId: ListMonthlyUsage
      parameters:
        - $ref: "#/components/parameters/CustomerCode"
      responses:
        "200":
          description: 成功（該当なしは空配列 `[]`）
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MonthlyUsage"
              example:
                - year_month: "202603"
                  downlink_bytes: 1500000000
                  uplink_bytes: 500000000
        "400":
          $ref: "#/components/responses/BadRequest"

  /stats/sims/monthly_usage_by_sim:
    get:
      tags: [Statistics]
      summary: GetMonthlyUsageBySim — 月次通信量（指定月・SIM 別内訳）
      description: |
        指定月に**利用実績のある SIM のみ**の通信量内訳を返します（`sim_id` 昇順）。通信のない契約中 SIM は含まれません。

        ⚠️ **本 EP は `合計行`（SIM 再発行月の 旧 + 新の合算行）を含みます**。単純合計すると再発行月は二重計上になるため、集計する場合は `reissue_category='total'` の行を除外するか、`new` / `old` を集計してください。

        ⚠️ 集計 EP の `/v1/stats/sims/monthly_usage` は逆に `合計行` を除外しており、**本 EP が `合計行` を含む・集計 EP は除外する、という非対称は意図的**です（本 EP は生の実績を、集計 EP は請求根拠となる合算値を返すため）。

        該当データが無い場合は空配列 `[]` を返します（200）。
      operationId: GetMonthlyUsageBySim
      parameters:
        - name: year_month
          in: query
          required: true
          description: 対象月（`YYYYMM` 6 桁ゼロ埋め）
          schema:
            type: string
            pattern: '^\d{4}(0[1-9]|1[0-2])$'
            example: "202608"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
        - $ref: "#/components/parameters/CustomerCode"
      responses:
        "200":
          description: 成功（該当なしは空配列 `[]`）
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MonthlyUsageBySim"
              example:
                - sim_id: "8981080321000912770"
                  year_month: "202608"
                  msisdn: "812001004300889"
                  tel: "02001004300889"
                  plan_name: "IoT Standard 3GB"
                  downlink_bytes: 234567890
                  uplink_bytes: 12345678
                  total_bytes: 246913568
                  reissue_category: null
                - sim_id: "8981080321000913322"
                  year_month: "202608"
                  msisdn: "812001004300911"
                  tel: "02001004300911"
                  plan_name: "IoT Standard 3GB"
                  downlink_bytes: 15667981
                  uplink_bytes: 900000
                  total_bytes: 16567981
                  reissue_category: "total"
        "400":
          $ref: "#/components/responses/BadRequest"

  /stats/sims/cumulative_usage:
    get:
      tags: [Statistics]
      summary: ListCumulativeUsage — 全 SIM 累積通信量
      description: |
        顧客の全 SIM の累積通信量を一括取得します。概ねリアルタイムで更新されます（最大 5 分のラグがあります）。

        30,000 件以下の場合は JSON 配列を直接返却します。
        30,000 件を超える場合は S3 にエクスポートし、署名付きダウンロード URL へ 302 リダイレクトします（NDJSON、`Content-Type: application/x-ndjson`、5分有効）。実体は gzip 圧縮されており、S3 側で `Content-Encoding: gzip` を付与するため、`curl --compressed` / requests / ブラウザなど標準的な HTTP クライアントは自動的に解凍します。
      operationId: ListCumulativeUsage
      parameters:
        - $ref: "#/components/parameters/CustomerCode"
      responses:
        "200":
          description: 成功（30,000 件以下）
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CustomerCumulativeUsage"
              example:
                - sim_id: "8981080321000912770"
                  customer_code: "110139701"
                  msisdn: "812001004300889"
                  downlink_bytes: 50000000000
                  uplink_bytes: 15000000000
                  total_bytes: 65000000000
                  checked_at: "2026-03-06T00:00:00Z"
                  latest_record_time: "2026-03-06T00:00:00Z"
        "302":
          description: 大規模データ（30,000 件超）— S3 署名付き URL へリダイレクト
          headers:
            Location:
              description: "S3 presigned URL（NDJSON、`Content-Encoding: gzip` を付与、5分有効）"
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          description: Snowflake 未設定
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /stats/sims/current_plan_usage:
    get:
      tags: [Statistics]
      summary: ListCurrentPlanUsage — 全 SIM 現プラン消費量
      description: |
        顧客の全 SIM の「現プランでの消費量」を一括取得します。

        各 SIM の `current_plan_used_bytes` は、累積通信量 (`total_bytes`)
        から最新の Executed リチャージ予約の `usage_offset_bytes` を引いた
        値です。`usage_offset_bytes` が記録されていない SIM では
        `current_plan_used_bytes` は `null` を返します。
      operationId: ListCurrentPlanUsage
      parameters:
        - $ref: "#/components/parameters/CustomerCode"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CurrentPlanUsage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          description: Snowflake 未設定
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /stats/sims/{sim_id}/current_plan_usage:
    get:
      tags: [Statistics]
      summary: GetSimCurrentPlanUsage — SIM 現プラン消費量
      description: |
        特定 SIM の「現プランでの消費量」を取得します。

        `current_plan_used_bytes` は、累積通信量 (`total_bytes`) から
        最新の Executed リチャージ予約の `usage_offset_bytes` を引いた
        値です。`usage_offset_bytes` が記録されていない場合は `null` を
        返します。

        `GET /v1/sims` の表示対象外の SIMは 404 になります。
      operationId: GetSimCurrentPlanUsage
      parameters:
        - name: sim_id
          in: path
          required: true
          description: SIM 識別子
          schema:
            type: string
        - $ref: "#/components/parameters/CustomerCode"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CurrentPlanUsage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          description: Snowflake 未設定
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /stats/sims/{sim_id}/monthly_usage:
    get:
      tags: [Statistics]
      summary: GetSimMonthlyUsage — SIM 別月次通信量
      description: |
        特定 SIM の月次通信量を取得します（直近12ヶ月分、year_month 降順）。

        ⚠️ **SIM 再発行が発生した月は、同一 `year_month` に複数行が返ります**（`旧SIM` / `新SIM` / `合計行` の 3 行のうち、その SIM の Inventory 配下にあたるもの）。**`合計行`（旧 + 新の合算行）を含むため、単純合計すると二重計上になります。** 各行の区別は `reissue_category` を参照してください。

        ⚠️ 集計 EP の `/v1/stats/sims/monthly_usage` は逆に `合計行` を除外しており、**本 EP が `合計行` を含む・集計 EP は除外する、という非対称は意図的**です（本 EP は生の実績を、集計 EP は請求根拠となる合算値を返すため）。
      operationId: GetSimMonthlyUsage
      parameters:
        - name: sim_id
          in: path
          required: true
          description: SIM 識別子
          schema:
            type: string
        - $ref: "#/components/parameters/CustomerCode"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SimMonthlyUsage"
              example:
                - sim_id: "SIM001"
                  customer_code: "110139701"
                  year_month: "202603"
                  downlink_bytes: 1000000000
                  uplink_bytes: 300000000
                  reissue_category: null
                - sim_id: "SIM001"
                  customer_code: "110139701"
                  year_month: "202604"
                  downlink_bytes: 1500000000
                  uplink_bytes: 450000000
                  reissue_category: "total"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /stats/sims/{sim_id}/daily_usage:
    get:
      tags: [Statistics]
      summary: GetSimDailyUsage — SIM 別日次通信量
      description: |
        特定 SIM の日別通信量を取得します（date 降順）。

        - 対象期間は **JST の前日を終端とする直近 `days` 日**です。当日分は日次バッチへ未反映のため含まれません。当日分が必要な場合は `/stats/sims/{sim_id}/details` を利用してください。
        - **通信のない日も 0 バイトの行として返却**されるため、実績のある SIM なら常に `days` 件が返ります。
        - **期間を明示したい場合は `start_date` / `end_date`（`YYYY-MM-DD`, JST）を指定**します（`days` と同時指定は 400）。片方だけの指定は 400 です。`end_date` は集計終端の **JST 前日にクランプ**されるため、本日や未来日を指定してもエラーにならず、前日までの行が返ります。`start_date` は JST 前日以前で、かつ今日から 31 日以内の日付である必要があります。
        - `from` / `to` クエリは受け付けません（400）。命名はリポジトリ規約に合わせて `start_date` / `end_date` を使ってください。
        - **404 になるのは、指定 `customer_code` 配下に当該 SIM の通信実績レコードが 1 件も存在しない場合**です。SIM 自体は存在しても一度も通信していなければ 404 になります。「SIM が存在しない」ことの判定には使えません。`GET /v1/sims` の表示対象外の SIMも 404 になります。
        - `data_through` は日次集計が確定している最終日、`checked_at` は集計を実行した時刻です。本 API の他の日時と同様に **UTC 表記（`...Z`）** で返ります。

        ### `is_confirmed` の意味と `in_bytes = 0` の解釈

        `is_confirmed` は該当日の値の確定度を示します。**`false` かつ 0 バイトの行は、`date` と `checked_at` の差によって意味が変わります。**

        ⚠️ `date` は **JST の日付**、`checked_at` は **UTC 表記の日時**です。下の判定を行うときは、`checked_at` を JST（UTC + 9 時間）に変換してから日付を比較してください。UTC のまま日付を取ると、JST の 00:00〜09:00 に集計された行で 1 日ずれます。

        - `true`: 日次集計（1DAY）が反映済みの確定値です。`0` も含めて実測値です。
        - `false`: 日次集計が未反映の日です。値の意味は次のとおりです。
          - **`date` が「`checked_at` を JST に変換した日付」の前日以降**: 5 分粒度集計（5MINS）からの速報値です。`0` より大きい値は実測値で、取り込みの進行に伴い微増する可能性があります。`0` は 5MINS にも記録が無い日です。
          - **`date` がそれより古い**: 5MINS による補完の対象外の日です（補完には直近 24 時間に取り込まれた 5MINS レコードのみを使用します）。**この場合の `0` は「通信が無かった」ことを意味しません。値が不明なものとして扱い、残量計算の入力にしないでください。**

        日次バッチ（00:15 JST）が正常であれば、通常は前日以前のすべての日が `true` になります。`false` の日が 2 日以上連続する場合は集計パイプラインの停止を疑ってください。

        ### 「真の 0」に見えるが実データがある 2 つのケース

        次の 2 つは `downlink_bytes` / `uplink_bytes` が `0` かつ `is_confirmed: true` で返るため、**上の `is_confirmed` の分岐では検出できません。** どちらも「無通信」ではないので、無通信と断定する前に確認してください。

        **1. 顧客コードの付け替え（商流変更）**

        使用量データの `customer_code` は**契約時点の値で、遡及修正されません**。SIM が別の顧客コードへ付け替えられた場合、**新しい顧客コードで問い合わせると付け替え前の日が `0`、古い顧客コードで問い合わせると付け替え後の日が `0`** になります。期間をまたぐ場合は、両方の顧客コードで取得して突き合わせる必要があります。

        **2. MSISDN の付け替え**

        日別の集計は **MSISDN を基準に結合**しています。同一顧客内で SIM の MSISDN が付け替えられた場合、**付け替え前の日が `0`** になります。逆に、ある MSISDN が別の SIM に再利用されていると、その期間の実績が合算されることがあります。
      operationId: GetSimDailyUsage
      parameters:
        - name: sim_id
          in: path
          required: true
          description: SIM 識別子
          schema:
            type: string
        - name: days
          in: query
          required: false
          description: |
            取得する日数（JST 前日を終端とする直近 N 日）。
            `start_date` / `end_date` と同時指定はできません（400）。
          schema:
            type: integer
            default: 3
            minimum: 1
            maximum: 31
        - name: start_date
          in: query
          required: false
          description: |
            期間の開始日（JST, `YYYY-MM-DD`）。`end_date` と一組で指定してください。
            `days` との同時指定・片方だけの指定は 400 です。
            **JST 本日以降、`end_date` より後、および今日から 31 日を超えて過去の日は 400** になります
            （集計終端は JST 前日のため、本日以降を指定しても意味のある結果が返らないので誤解を招く 404 ではなく 400 で弾きます）。
            形式は `YYYY-MM-DD` のみ受け付けます (basic 形式 `20260821` や週日付 `2026-W34-1` は 400)。
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: false
          description: |
            期間の終了日（JST, `YYYY-MM-DD`）。`start_date` と一組で指定してください。
            集計終端は常に JST 前日のため、**本日以降を指定すると JST 前日にクランプ**されます（エラーにはしません）。
            これにより「過去 1 か月 (`start_date = today - 31`, `end_date = today`)」のような素直な指定も通ります。
            形式は `YYYY-MM-DD` のみ受け付けます。
          schema:
            type: string
            format: date
        - $ref: "#/components/parameters/CustomerCode"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SimDailyUsage"
              example:
                - sim_id: "8981080301013111404"
                  msisdn: "812001033859274"
                  customer_code: "110139701"
                  date: "2026-08-24"
                  downlink_bytes: 77597
                  uplink_bytes: 278985
                  total_bytes: 356582
                  is_confirmed: true
                  checked_at: "2026-08-25T04:24:10Z"
                  data_through: "2026-08-24"
                - sim_id: "8981080301013111404"
                  msisdn: "812001033859274"
                  customer_code: "110139701"
                  date: "2026-08-23"
                  downlink_bytes: 0
                  uplink_bytes: 0
                  total_bytes: 0
                  is_confirmed: true
                  checked_at: "2026-08-25T04:24:10Z"
                  data_through: "2026-08-24"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: |
            クエリパラメータの型変換エラー (例: `days=abc`)。
            FastAPI が範囲チェックより先に型変換を実行するため、`days` に整数化できない値を渡すと 400 ではなく 422 を返します。
            なお `start_date` / `end_date` は文字列で受けてアプリ側でパースするため、
            形式不正 (例: `start_date=abc`) は 422 ではなく **400** になります。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: Snowflake 未設定
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /stats/sims/{sim_id}/daily_usage/export:
    get:
      tags: [Statistics]
      summary: ExportSimDailyUsage — SIM 別日次通信量 CSV エクスポート
      description: |
        `GET /v1/stats/sims/{sim_id}/daily_usage` と同じデータを CSV でエクスポートし、
        署名付きダウンロード URL を返します（同期・24 時間有効）。

        - **期間指定 (`start_date` / `end_date`) は必須**です。`days` 指定はできません。
          期間の規則は同期 EP と同一で、**`start_date` は JST 前日以前かつ今日から 31 日以内**、
          `end_date` は集計終端の JST 前日にクランプされます。詳細は同期 EP の description を参照。
        - **0 件でも 200 + ヘッダのみ CSV を返します**（同期 EP は 404）。ダウンロード URL が
          必ず返る運用にするため。仕様の非対称は意図的です。
          ただし `GET /v1/sims` の表示対象外の SIMは、
          同期 EP と同じく 404 になります。
        - `data_through` は応答 JSON に**1 度だけ**含めます（全行同値のため CSV 列に持たせません）。
          0 件の場合は `null` になります。
        - **時計ずれ検出は同期 EP と同じ**で、期待行数を下回ると **500** を返します。
          「実績なし」の空 CSV に化けないようにするための保険で、リトライで解消します。
        - `days` / `from` / `to` クエリは受け付けません（400）。
        - 日次データは統計基盤側で生成するため `/v1/stats/` 配下に置いています。

        ### CSV 列 (date 降順)

        既定（`header_lang=en`）は英字のヘッダーです。

        ```
        date,sim_id,msisdn,uplink_bytes,downlink_bytes,total_bytes,is_confirmed
        ```

        `header_lang=ja` を指定すると、ヘッダー行だけが日本語になります。

        ```
        日付,製造番号/ICCID,電話番号（国際表記）,上り（バイト）,下り（バイト）,合計（バイト）,確定
        ```

        - `is_confirmed` は `true` / `false` 文字列です（`header_lang=ja` でも同じ）。
        - `sim_id` を含めるのは CSV を単体で扱っても対象 SIM が特定できるようにするためです。
        - 文字コードは UTF-8 です。`header_lang=ja` のときだけ、Excel で文字化けしないよう先頭に BOM を付けます。
      operationId: ExportSimDailyUsage
      parameters:
        - name: sim_id
          in: path
          required: true
          description: SIM 識別子
          schema:
            type: string
        - name: start_date
          in: query
          required: true
          description: |
            期間の開始日（JST, `YYYY-MM-DD`）。同期 EP と同じ規則で、
            JST 本日以降・`end_date` より後・今日から 31 日超の日は 400。
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: true
          description: |
            期間の終了日（JST, `YYYY-MM-DD`）。集計終端は JST 前日なので、
            本日・未来を指定しても JST 前日にクランプされます。
          schema:
            type: string
            format: date
        - name: format
          in: query
          required: false
          description: 出力フォーマット（当面 `csv` のみ）。
          schema:
            type: string
            enum: [csv]
            default: csv
        - $ref: "#/components/parameters/HeaderLang"
        - $ref: "#/components/parameters/CustomerCode"
      responses:
        "200":
          description: 成功（CSV を S3 に配置しダウンロード URL を返す。0 件でも 200 + ヘッダのみ CSV）
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimDailyUsageExport"
              example:
                file_name: "daily_usage_110139801_8981080301013111404_20260801_20260824_0f1e2d3c4b5a6978a9bcdef012345678.csv"
                row_count: 24
                download_url: "https://mc-prod-exports.s3.ap-northeast-1.amazonaws.com/daily_usage_...?X-Amz-Signature=..."
                expires_in_seconds: 86400
                data_through: "2026-08-24"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          description: |
            サーバー内部エラー。**期間指定時に API と Snowflake の「今日」が JST 00:00 を跨いでずれた**
            ときも 500 を返します（詳細メッセージ: `Clock skew detected between API and Snowflake; please retry`）。
            リトライで解消します。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: Snowflake 未設定
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /stats/sims/{sim_id}/details:
    get:
      tags: [Statistics]
      summary: GetSimUsageDetails — SIM CDR（通信明細）
      description: 特定 SIM の通信明細（CDR）を取得します。直近 288 件（5 分粒度。連続してデータがある場合で約 24 時間分）のレコードが返却されます。
      operationId: GetSimUsageDetails
      parameters:
        - name: sim_id
          in: path
          required: true
          description: SIM 識別子
          schema:
            type: string
        - $ref: "#/components/parameters/CustomerCode"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CdrRecord"
              example:
                - sim_id: "SIM001"
                  customer_code: "110139701"
                  record_begins_at: "2026-03-06T10:30:00Z"
                  downlink_bytes: 50000000
                  uplink_bytes: 10000000
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /stats/sims/{sim_id}/cumulative_usage:
    get:
      tags: [Statistics]
      summary: GetSimCumulativeUsage — 累積通信量
      description: |
        特定 SIM の累積通信量を取得します。概ねリアルタイムで更新されます（最大 5 分のラグがあります）。

        `GET /v1/sims` の表示対象外の SIMは 404 になります。
      operationId: GetSimCumulativeUsage
      parameters:
        - name: sim_id
          in: path
          required: true
          description: SIM 識別子
          schema:
            type: string
        - $ref: "#/components/parameters/CustomerCode"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CumulativeUsage"
              example:
                - sim_id: "8981080301011098470"
                  customer_code: "120070301"
                  msisdn: "8180000000000"
                  downlink_bytes: 50000000000
                  uplink_bytes: 15000000000
                  total_bytes: 65000000000
                  checked_at: "2026-08-14T06:45:49Z"
                  latest_record_time: "2026-08-14T06:40:00Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          description: Snowflake 未設定
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ===== Exports =====
  /exports:
    get:
      tags: [Exports]
      summary: ListExports — エクスポート種別一覧
      description: 利用可能なエクスポート種別の一覧を取得します。
      operationId: ListExports
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  exports:
                    type: array
                    items:
                      type: string
              example:
                exports: ["sims", "monthly_usage_by_sim"]

  /exports/sims:
    post:
      tags: [Exports]
      summary: CreateSimsExport — SIM データエクスポート
      description: |
        SIM データのエクスポートをリクエストします。

        - **非同期モード**（デフォルト）: 即座に署名付きダウンロード URL を返却し、バックグラウンドで処理を実行します。
        - **同期モード**: 処理完了まで待機します。

        解約済み SIM は除外されます。

        CSV は以下の **42 列** を、この順で出力します（列名は `Sim` スキーマのフィールド名）。

        `sim_id`, `customer_code`, `application_start_date`, `cancellation_mobile_core_date`,
        `carrier_opening_date`, `carrier_withdrawal_date`, `communication_generation`,
        `dns_primary`, `dns_secondary`, `extension_end_date`, `first_communicating_date`,
        `imsi`, `ip_address`, `ip_address_type`, `line_category`, `line_status_from_mc`,
        `line_stoped_date`, `lines_status`, `linestarted_date`, `opening_date`,
        `puk1`, `user_id`, `password`, `msisdn`, `realm`,
        `service_category`, `use_start_expiration_date`, `shipping_date`, `apn`,
        `active_plan_name`, `product_name`, `sim_category`, `product_name_id`,
        `status`, `session_status`, `session_created_at`, `session_terminated_at`,
        `lines_state_ss_for_mypage`, `product_code`, `quotation_application_number`, `tel`,
        `sim_stock_status`

        `Sim` スキーマのうち `ipv6_address` / `ipv6_address_dns_primary` /
        `ipv6_address_dns_secondary` の 3 列は **CSV には出力しません**（実データで常に空のため）。
        `GET /v1/sims` の応答には引き続き含まれます。

        ⚠️ **2026-09 の更新で列構成が変わりました**（37 列 → 41 列）。
        - ipv6 系 3 列を削除（旧 CSV の 15〜17 列目）。**それより後ろの列は位置が 3 つ前にずれます**
        - `puk1` / `password` を `opening_date` の直後に追加。
          **それより後ろの列は位置が 2 つ後ろにずれます**（ipv6 の削除と合わせると正味 1 つ前）
        - `lines_state_ss_for_mypage` 以降の 5 列を末尾に追加

        続く更新で `user_id`（APN 認証のユーザ ID）を `password` の直前に追加しました（41 列 → 42 列）。
        `password` と組で使う値のため、例外的に途中に置いています。
        **`password` 以降の列は位置が 1 つ後ろにずれます。**

        列名で読んでいる場合は、削除した 3 列を参照していなければ影響ありません。
        列を位置で読んでいる場合は追随してください。今後列を足す場合は原則として末尾に足します。

        ### `header_lang=ja` の列名

        `header_lang=ja` を指定すると、ヘッダー行だけが以下の日本語の列名になります
        （列の数・並び・値は既定の `en` と同じです）。

        | 列 | 日本語の列名 |
        | --- | --- |
        | `sim_id` | 製造番号/ICCID |
        | `customer_code` | 顧客コード |
        | `application_start_date` | 適用開始日 |
        | `cancellation_mobile_core_date` | モバイルコア解約日 |
        | `carrier_opening_date` | キャリア開通日 |
        | `carrier_withdrawal_date` | 解約日 |
        | `communication_generation` | 通信規格 |
        | `dns_primary` | DNSプライマリ |
        | `dns_secondary` | DNSセカンダリ |
        | `extension_end_date` | 有効期限日 |
        | `first_communicating_date` | 初回通信日 |
        | `imsi` | IMSI |
        | `ip_address` | IPアドレス |
        | `ip_address_type` | IPアドレスタイプ |
        | `line_category` | 回線種別 |
        | `line_status_from_mc` | 回線状態（モバイルコア） |
        | `line_stoped_date` | 回線停止日 |
        | `lines_status` | 回線状態（在庫管理） |
        | `linestarted_date` | 回線再開日 |
        | `opening_date` | モバイルコア開通日 |
        | `puk1` | PUK1 |
        | `user_id` | ユーザID |
        | `password` | パスワード |
        | `msisdn` | 電話番号（国際表記） |
        | `realm` | レルム |
        | `service_category` | サービス種別 |
        | `use_start_expiration_date` | 利用開始期限日 |
        | `shipping_date` | 出荷日 |
        | `apn` | APN |
        | `active_plan_name` | プラン名 |
        | `product_name` | 商品名 |
        | `sim_category` | SIMサイズ |
        | `product_name_id` | 商品マスタ |
        | `status` | 回線状態 |
        | `session_status` | セッション状態 |
        | `session_created_at` | セッション開始日時 |
        | `session_terminated_at` | セッション終了日時 |
        | `lines_state_ss_for_mypage` | 回線状態（マイページ） |
        | `product_code` | 商品コード |
        | `quotation_application_number` | 見積・申込番号 |
        | `tel` | 電話番号 |
        | `sim_stock_status` | SIM状態 |
      operationId: CreateSimsExport
      parameters:
        - $ref: "#/components/parameters/CustomerCode"
        - name: format
          in: query
          description: 出力形式
          schema:
            type: string
            default: csv
            enum: [csv, json, jsonl]
        - $ref: "#/components/parameters/HeaderLang"
        - name: async
          in: query
          description: "`true`: 非同期処理（即時レスポンス）、`false`: 同期処理（完了待ち）"
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ExportAsync"
                  - $ref: "#/components/schemas/ExportSync"
              examples:
                async:
                  summary: 非同期レスポンス
                  value:
                    file_name: "sims_export_110139801_01KABHF5NQGE8S4AT877421K6J.csv"
                    download_url: "https://mc-prod-exports.s3.amazonaws.com/..."
                    message: "Export is being processed. The file will be available shortly at the download URL."
                    expires_in_seconds: 86400
                sync:
                  summary: 同期レスポンス
                  value:
                    file_name: "sims_export_110139801_01KABHF5NQGE8S4AT877421K6J.csv"
                    row_count: 70
                    file_size_bytes: 29151
                    s3_url: "s3://mc-prod-exports/sims_export_110139801_..."
                    download_url: "https://mc-prod-exports.s3.amazonaws.com/..."
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          description: 内部サーバーエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /exports/monthly_usage_by_sim:
    post:
      tags: [Exports]
      summary: CreateMonthlyUsageBySimExport — 月次利用実績 CSV エクスポート (SIM 別)
      description: |
        指定月の SIM 別月次利用実績を CSV でエクスポートします。misora-central の
        US-027（月次利用実績 CSV 出力）が消費する EP です。

        - **非同期モード**（デフォルト）: 即座に署名付きダウンロード URL を返却し、バックグラウンドで処理します。
        - **同期モード**: 処理完了まで待機します。

        CSV は 8 列固定で以下の順に出力されます。ヘッダーは既定（`header_lang=en`）で英字、
        `header_lang=ja` で日本語の列名になります（値は同じです）。

        | 列 | `header_lang=ja` の列名 | 型 | 内容 |
        | --- | --- | --- | --- |
        | `year_month` | 年月 | string | `YYYYMM` |
        | `sim_id` | 製造番号/ICCID | string | 既存 SIM EP と同じ ID（ICCID とは限らない） |
        | `msisdn` | 電話番号（国際表記） | string | 電話番号（国際表記。例 `814011001010`） |
        | `tel` | 電話番号 | string | 電話番号（国内表記。例 `04011001010`）。値が無い場合は空欄（本番実測で 12.4%） |
        | `reissue_category` | 再発行区分 | string | 再発行区分。`new`（新 SIM）/ `old`（旧 SIM）/ `total`（合計行）。再発行の無い通常行は空 |
        | `uplink_bytes` | 上り（バイト） | integer | 上り通信量（生バイト、0 埋め） |
        | `downlink_bytes` | 下り（バイト） | integer | 下り通信量（生バイト、0 埋め） |
        | `total_bytes` | 合計（バイト） | integer | `uplink_bytes + downlink_bytes`（サーバ側計算） |

        - 実績 0 件は 200 + ヘッダのみの CSV を返します（「その月に実績が無い」は正常な結果）。
        - 再発行月は「旧 SIM / 新 SIM / 合計」の 3 行が並びます。`exclude_total=true` を渡すと Salesforce が入れる合計行（`reissue_category='total'`）を除外できます。
      operationId: CreateMonthlyUsageBySimExport
      parameters:
        - $ref: "#/components/parameters/CustomerCode"
        - name: year_month
          in: query
          required: true
          description: 対象月 `YYYYMM`（6 桁）
          schema:
            type: string
            pattern: '^\d{6}$'
          example: "202608"
        - name: exclude_total
          in: query
          description: |
            Salesforce が再発行月に入れる合計行（`reissue_category='total'`）を除外します。
            旧 SIM 行と新 SIM 行はそのまま残ります。既定 `false`。
          schema:
            type: boolean
            default: false
        - name: format
          in: query
          description: 出力形式（CSV のみ）
          schema:
            type: string
            default: csv
            enum: [csv]
        - $ref: "#/components/parameters/HeaderLang"
        - name: async
          in: query
          description: "`true`: 非同期処理（即時レスポンス）、`false`: 同期処理（完了待ち）"
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ExportAsync"
                  - $ref: "#/components/schemas/ExportSync"
              examples:
                async:
                  summary: 非同期レスポンス
                  value:
                    file_name: "monthly_usage_by_sim_110139801_202608_01KABHF5NQGE8S4AT877421K6J.csv"
                    download_url: "https://mc-prod-exports.s3.amazonaws.com/..."
                    message: "Export is being processed. The file will be available shortly at the download URL."
                    expires_in_seconds: 86400
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          description: 内部サーバーエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ===== Recharges =====
  /recharges/sims:
    get:
      tags: [Recharges]
      summary: ListRechargeableSims — リチャージ対象 SIM 一覧
      description: |
        リチャージ対象となる SIM の一覧を取得します。各 SIM のリチャージ可否、現在のプラン情報、予約件数が含まれます。
        `sim_id` と `iccid` を異なる値で両方指定した場合は `400` / `BAD_REQUEST` になります。
      operationId: ListRechargeableSims
      parameters:
        - $ref: "#/components/parameters/CustomerCode"
        - $ref: "#/components/parameters/IccidQuery"
        - $ref: "#/components/parameters/SimIdQuery"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RechargeSimsResponse"
              example:
                sims:
                  - iccid: "8981080321000912770"
                    product_code: "PM058"
                    plan_type: capacity
                    extension_end_date: "2026-03-05"
                    reservation_count: 1
                    recharge_available: true
                    usage_offset_bytes: 647080707
                total_count: 2
                page_size: 200
                has_more: false
                next_cursor: null
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "502":
          $ref: "#/components/responses/BadGateway"

  /recharges/sims/{sim_id}/plans:
    get:
      tags: [Recharges]
      summary: ListSimRechargePlans — SIM 別リチャージプラン
      description: 特定 SIM の現在のプランに基づいて、利用可能なリチャージプランを取得します。
      operationId: ListSimRechargePlans
      parameters:
        - name: sim_id
          in: path
          required: true
          description: SIM ID（ICCID）
          schema:
            type: string
        - $ref: "#/components/parameters/CustomerCode"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlansResponse"
              example:
                plans:
                  - plan_code: "OI061331"
                    plan_type: capacity
                    capacity_limit: 10.0
                    daily_limit: null
                    duration_days: 30
                total_count: 2
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /recharges/sims/{sim_id}/balance:
    get:
      tags: [Recharges]
      summary: GetSimBalance — SIM 残量取得
      description: |
        特定 SIM の使える総量・残り容量・使用量を取得します。
        マイページ等で「◯GB 中 ◯GB 残り」を描画する用途を想定しています。

        **繰越（Banked Data）の扱い**: 使える総量 = 現プラン容量 + 繰越（未消化分 = Banked Data）。
        消費順序は 現プラン → 繰越で、現プランの枯渇または期間満了時に繰越分は自動的に払い出されます
        （お客様の操作は不要で、通信は途切れません）。したがって残量は現プランと繰越をまたいで連続して減ります。
        繰越は無期限ではなく、払い出し用の内部プランの期間終了時に消滅します。

        容量 3 値（`total_granted_bytes` / `total_remaining_bytes` / `used_bytes`）は capacity プランのみ値を持ち、
        daily プランおよび総枠未確定時（初回リチャージ前・プランマスタ未登録等）は `null` を返します。

        **daily プラン（1GB/day 等）**: 通算残量の概念を持たないため容量 3 値は `null` のまま、
        当日枠を `daily_limit_bytes` / `daily_used_bytes` / `daily_remaining_bytes` で返します。
        当日利用量は **日本時間の 0:00 以降**の実績を集計したもので、日付が変わると 0 に戻ります。
        日次上限のないプラン（無制限）や、リセット周期が 1 日でないプランでは上限・残量が `null` になり、
        当日利用量のみを返します。

        レスポンスは全プランタイプで同一のスキーマです。capacity プランでは `daily_*` が、
        daily プランでは容量 3 値が、それぞれ `null` として含まれます。

        **解約済み SIM**: 残量は返さず `400`（`errorCode: BAD_REQUEST` / `message: SIM is terminated`）になります。
        `GET /v1/sims` で `include_terminated=true` を指定して取得した SIM や、解約直後で一覧にまだ残っている SIM に
        対して本 API を呼ぶとこの応答になります。解約済み SIM はリチャージ対象外のため、`GET /v1/recharges/sims`
        の一覧には含まれません。

        累積 usage の取得に失敗した場合は `503` を返し、古い残量値は返しません（stale データを防ぐ）。
      operationId: GetSimBalance
      parameters:
        - $ref: "#/components/parameters/CustomerCode"
        - name: sim_id
          in: path
          required: true
          description: SIM ID（ICCID、19-20 桁の数字）
          schema:
            type: string
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RechargeSimBalance"
              examples:
                capacity:
                  summary: capacity プラン（容量型）
                  value:
                    iccid: "8981080321000912770"
                    plan_type: capacity
                    total_granted_bytes: 6442450944
                    total_remaining_bytes: 5368709120
                    used_bytes: 1073741824
                    banked_data_bytes: 1073741824
                    filler_state: NORMAL
                    checked_at: "2026-08-26T05:30:00Z"
                    latest_record_time: "2026-08-25T15:00:00Z"
                    daily_limit_bytes: null
                    daily_used_bytes: null
                    daily_remaining_bytes: null
                    error_code: null
                    message: null
                daily:
                  summary: daily プラン（日次型・1GB/day）
                  value:
                    iccid: "8981080321000912788"
                    plan_type: daily
                    total_granted_bytes: null
                    total_remaining_bytes: null
                    used_bytes: null
                    banked_data_bytes: null
                    filler_state: NORMAL
                    checked_at: "2026-09-03T05:30:00Z"
                    latest_record_time: "2026-09-03T05:18:00Z"
                    daily_limit_bytes: 1073741824
                    daily_used_bytes: 268435456
                    daily_remaining_bytes: 805306368
                    error_code: null
                    message: null
        "400":
          description: |
            バリデーションエラー。残量取得側の検証エラーは `detail` がオブジェクトで、`detail.message` で原因を判別できます。
            （クエリパラメータの検証で弾かれた場合は `detail` が文字列になります。`Error` スキーマ参照）

            - `Invalid ICCID format` — ICCID が 19-20 桁の数字でない
            - `SIM is terminated` — 解約済み SIM（残量は返しません）
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                terminated:
                  summary: 解約済み SIM
                  value:
                    detail:
                      errorCode: BAD_REQUEST
                      message: SIM is terminated
                invalidIccid:
                  summary: ICCID 形式不正
                  value:
                    detail:
                      errorCode: BAD_REQUEST
                      message: Invalid ICCID format
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          description: サーバー内部エラー（想定外の例外）
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: 累積 usage の取得に失敗（古い値は返さない）

  /recharges/plans:
    get:
      tags: [Recharges]
      summary: ListRechargePlans — 全リチャージプラン一覧
      description: 顧客が利用可能な全リチャージプランのカタログを取得します。
      operationId: ListRechargePlans
      parameters:
        - $ref: "#/components/parameters/CustomerCode"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlansResponse"
              example:
                plans:
                  - plan_code: "OI061331"
                    plan_type: capacity
                    capacity_limit: 10.0
                    daily_limit: null
                    duration_days: 30
                  - plan_code: "OI061340"
                    plan_type: daily
                    capacity_limit: null
                    daily_limit: 3.0
                    duration_days: 90
                total_count: 3
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /recharges/plans/{plan_code}:
    get:
      tags: [Recharges]
      summary: GetRechargePlan — プラン詳細
      description: |
        特定のリチャージプランの詳細情報を取得します。
        指定した `plan_code` が当該顧客の利用可能プランに無い場合は `404` / `NOT_FOUND`（`Plan not found`）です。
      operationId: GetRechargePlan
      parameters:
        - name: plan_code
          in: path
          required: true
          description: プラン識別子
          schema:
            type: string
        - $ref: "#/components/parameters/CustomerCode"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Plan"
              example:
                plan_code: "OI061331"
                plan_type: capacity
                capacity_limit: 10.0
                daily_limit: null
                duration_days: 30
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /recharges/reservations:
    get:
      tags: [Recharges]
      summary: ListRechargeReservations — リチャージ予約一覧
      description: |
        顧客のリチャージ予約一覧を取得します。ICCID / SIM ID やステータスでのフィルタリングが可能です。
        `sim_id` と `iccid` を異なる値で両方指定した場合は `400` / `BAD_REQUEST` になります。
      operationId: ListRechargeReservations
      parameters:
        - $ref: "#/components/parameters/CustomerCode"
        - $ref: "#/components/parameters/IccidQuery"
        - $ref: "#/components/parameters/SimIdQuery"
        - name: status
          in: query
          description: |
            ステータスでフィルタ。大文字始まりの値のみ受け付けます（小文字を指定すると 400）。
            取り消し済み（`Cancelled`）の予約は一覧に含まれないため、フィルタ値としても指定できません。
          schema:
            type: string
            enum: [Reserved, Executed, Failed]
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationsResponse"
              example:
                reservations:
                  - reservation_id: "RR-00012"
                    iccid: "8981080321000912770"
                    plan_code: "OI061331"
                    status: Executed
                    reserved_at: "2026-03-10T10:30:00Z"
                    executed_at: "2026-03-10T10:30:02Z"
                total_count: 1
                page_size: 200
                has_more: false
                next_cursor: null
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "502":
          $ref: "#/components/responses/BadGateway"
    post:
      tags: [Recharges]
      summary: CreateRechargeReservation — リチャージ予約作成
      description: |
        SIM に対するリチャージ予約を作成します。1つの SIM に対して最大3件の予約が可能です。

        **受付期限** — 利用終了日の当日に限り、**19:00（JST）以降の予約は受け付けません**
        （`400` / `BAD_REQUEST` / `Reservation is not accepted after 19:00 on the last day`）。
        利用終了日より前であれば時刻による制限はありません。利用終了日当日に行われる
        リチャージの実行処理（下記 20:00 / 21:00）に予約を確実に間に合わせるための締切です。

        **実行タイミング** — 予約したリチャージが実際に適用されるタイミングはプランタイプによって異なります。

        - `capacity`（容量上限型）：残データ量が 500MB 未満になった時点、または利用終了日の 21:00（JST）以降
        - `daily`（日次上限型）：利用終了日に到達後、毎日 20:00（JST）の日次処理で実行（残データ量による判定なし）

        ※ 上限が 500MB 以下の小容量プランでは、上限に到達した時点で実行されます。

        予約直後は `status` が `Reserved` となり、実行後に `Executed` へ変わります。

        **予約できない条件** — 以下に該当する場合は予約が作成されず、`errorCode` 付きのエラーになります。

        | HTTP | errorCode | 条件 |
        |---|---|---|
        | 400 | `BAD_REQUEST` | SIM ID の形式不正（19-20 桁の数字）/ 存在しない・無効な `plan_code` / 解約済み SIM（`SIM is terminated`）/ リチャージ対象外プラン / 利用終了日当日の 19:00（JST）以降（`Reservation is not accepted after 19:00 on the last day`） |
        | 400 | `LIMIT_EXCEEDED` | 未実行（`Reserved`）の予約が上限 3 件に到達している |
        | 400 | `PLAN_MISMATCH` | 容量上限型と日次上限型の混在 / 日次上限型で 1 日あたり容量・リセット周期が現行プランと不一致 |
        | 400 | `REALM_MISMATCH` | プランのレルムが SIM の現行レルムと不一致（通信断防止のため拒否） |
        | 403 | `FORBIDDEN` | 指定 SIM を当該顧客が所有していない |
        | 404 | `NOT_FOUND` | 指定 SIM が登録されていない |
        | 400 | `VALIDATION_ERROR` | `plan_code` の不足・型不正などリクエストボディの不正 |

        `sim_id`（または `iccid`）が未指定の場合と、`sim_id` と `iccid` を異なる値で両方指定した場合も
        `400` / `BAD_REQUEST` になります（`message` は `iccid or sim_id is required` /
        `iccid and sim_id both provided but differ; ...`）。

        予約上限にカウントされるのは `status` が `Reserved` の予約のみです。`Executed` や取り消し済みの
        予約は含まないため、3 件予約済みでもそのうち 1 件が実行されれば次の予約を作成できます。
      operationId: CreateRechargeReservation
      parameters:
        - $ref: "#/components/parameters/CustomerCode"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateReservationRequest"
            example:
              sim_id: "8981080321000912770"
              plan_code: "OI061331"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reservation"
              example:
                reservation_id: "RR-00012"
                status: Reserved
                reserved_at: "2026-03-10T10:30:00Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "502":
          $ref: "#/components/responses/BadGateway"

  /recharges/immediate:
    post:
      tags: [Recharges]
      summary: CreateImmediateRecharge — 即時リチャージ（プラン即時書換・残量リセット）
      description: |
        ICCID とプランコードを指定して、**即時にプラン書換・残量リセット・PCRF 1 回 sync** を実行します。
        容量型プランのみ対象（日次型・CPFR・Internal はエラー）。予約の作成と実行をその場で行い、
        予約は即 `Executed` 化されます。

        `force=true` で既存 `Reserved` 予約を `Cancelled` 化して前倒し実行します。
        PCRF 同期中（`SyncStatus=実行中`）は force 不問で `409 ALREADY_SYNCING`。

        `sim_id`（または `iccid`）が未指定の場合は `400` / `INVALID_ICCID`、`sim_id` と `iccid` を
        異なる値で両方指定した場合は `400` / `INVALID_REQUEST` になります。
      operationId: CreateImmediateRecharge
      parameters:
        - $ref: "#/components/parameters/CustomerCode"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImmediateRechargeRequest"
            example:
              sim_id: "8981080301011327143"
              plan_code: "OI071522"
              force: false
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImmediateRechargeResponse"
              example:
                iccid: "8981080301011327143"
                plan_code: "OI071522"
                status: Executed
                reservation_id: "a1XRB000005P7Q12AK"
                sync_status: 実行中
                superseded_reservation_ids: []
                message: "Immediate recharge executed. PCRF sync triggered."
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          description: 指定 SIM に対するリチャージ権限がありません
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: 進行中予約あり、もしくは PCRF 同期中
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          $ref: "#/components/responses/BadGateway"
        "503":
          description: 累積 usage 取得失敗（DML 前に中断）
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key

  parameters:
    CustomerCode:
      name: customer_code
      in: query
      description: |
        9桁の顧客コード。省略時は認証情報に紐づく顧客コードを使用します。
        指定する場合は認証情報のスコープと一致している必要があり、不一致の場合は 403 を返します。
      schema:
        type: string
        pattern: '^\d{9}$'
        example: "110139701"
    HeaderLang:
      name: header_lang
      in: query
      description: |
        CSV のヘッダー行（列名）の言語。

        - `en`（既定）: 英字の列名。これまでと同じ出力です
        - `ja`: 日本語の列名。列ごとの対応は各エンドポイントの説明にあります

        日本語になるのはヘッダー行だけです。値（日付・`true` / `false`・区分値など）と、
        列の数・並びは `en` と同じです。
      schema:
        type: string
        enum: [en, ja]
        default: en
    PageSize:
      name: page_size
      in: query
      description: 1ページあたりの件数
      schema:
        type: integer
        default: 200
    Cursor:
      name: cursor
      in: query
      description: ページネーションカーソル
      schema:
        type: string
    IccidQuery:
      name: iccid
      in: query
      deprecated: true
      description: SIM の ICCID でフィルタ。`sim_id` と併用された場合は `iccid` を優先
      schema:
        type: string
    SimIdQuery:
      name: sim_id
      in: query
      description: SIM ID (ICCID のエイリアス) でフィルタ
      schema:
        type: string
    SimIdPrefixFilter:
      name: sim_id
      in: query
      description: |
        SIM 識別子（`sim_id`）の**前方一致**で絞り込みます（#76）。

        - **英数字**・32 文字以内。条件を満たさない値（記号を含むもの）・空文字は **400**
        - **小文字は大文字として扱います**（`ab123` と `AB123` は同じ結果）。
          格納値が英大文字と数字のみのためです
        - ⚠️ **`sim_id` は ICCID とは限りません。** 19 桁の数字（ICCID）と、
          英大文字 2 文字 + 数字 13 桁の 15 桁の識別子が混在し、後者が約 37% を
          占めます（2026-08-21 本番実測）。前方一致の桁数を ICCID 前提で
          決め打ちしないでください
        - 他の絞り込み条件とは **AND** で結合します

        ⚠️ **`/v1/recharges/sims` の `sim_id` とは一致方式が違います。**
        あちらは**完全一致**（`recharges/lambda_function.py` のクライアント側フィルタ）で、
        こちらは前方一致です。同じパラメータ名なので取り違えに注意してください。
      schema:
        type: string
        pattern: '^[0-9A-Za-z]+$'
        maxLength: 32
        example: "8981080"
    MsisdnPrefixFilter:
      name: msisdn
      in: query
      description: |
        電話番号（MSISDN）の**前方一致**で絞り込みます（#76）。

        処理は次の順序で行います（`pattern` は入力の形を緩く示したものなので、
        受理されるかどうかはこの順序が決めます）:

        1. **区切り文字（ハイフン `-`・半角/全角スペース・括弧 `(` `)`）を除去**します
           （`070-1234-5678` と `07012345678` は同じ結果）
        2. **国番号に変換**します。先頭の `+` は落とし（`%2B8140` → `8140`）、
           先頭が `00` ならそれを落とし（`00819012` → `819012`）、
           先頭が `0` なら `81` に置き換えます（`07012` → `817012`）。
           `mc_sims.msisdn` が国番号付き（`8140...`）で格納されているためです
        3. **変換後の値**を検証します。数字のみ・空でない・**32 文字以内**であること。
           満たさない場合は **400**（全角数字・記号を含む値、`---` のように除去すると
           空になる入力、変換後に 32 文字を超えるものが該当）

        先頭の `+` は、生の `+` でもパーセントエンコード（`%2B`）でも同じ結果になります
        （前者は空白としてデコードされたうえで、1. の区切り文字として除去されるため）。
      schema:
        # 区切り文字を含む入力も受け付ける。数字のみ・32 文字以内の判定は
        # 区切り文字を除いた後の値に対して行われるため、maxLength は置かない。
        type: string
        pattern: '^\+?[0-9()\- 　]+$'
        example: "070-1234-5678"

  schemas:
    # ----- SIM -----
    Sim:
      type: object
      description: |
        `GET /v1/sims` の応答。`mc_sims` ビューの 45 列に対応する
        （ビューは 47 列で、うち `activation_code` / `puk2` の 2 列は API・CSV とも出力しない。
        `puk1` / `user_id` / `password` は 2026-09 の更新で出力するようになりました）。
        明細 `GET /v1/sims/{sim_id}` は、これに `note` と `lines_temporary_stop` を足した `SimDetail` を返す。

        `filter_nulls=true`（既定）のとき、値が null のフィールドは **キーごと応答から消える**
        （`null` として返るのではない）。`nullable: true` が効くのは `filter_nulls=false` のとき。
      properties:
        sim_id:
          type: string
          description: |
            SIM 識別子（`sf.inventory.Name`）。**ICCID とは限りません。**
            19 桁の数字（ICCID）と、英大文字 2 文字 + 数字 13 桁の 15 桁の識別子が
            混在し、後者が約 37% を占めます（2026-08-21 本番実測）。
        customer_code:
          type: string
          description: 顧客コード（9桁）
        application_start_date:
          type: string
          format: date
          nullable: true
          description: 申込開始日
        cancellation_mobile_core_date:
          type: string
          format: date
          nullable: true
          description: モバイルコア解約日
        carrier_opening_date:
          type: string
          format: date
          nullable: true
          description: キャリア開通日
        carrier_withdrawal_date:
          type: string
          format: date
          nullable: true
          description: キャリア脱退日
        communication_generation:
          type: string
          nullable: true
          description: 通信世代（4G/5G 等）
        dns_primary:
          type: string
          nullable: true
          description: プライマリ DNS
        dns_secondary:
          type: string
          nullable: true
          description: セカンダリ DNS
        extension_end_date:
          type: string
          format: date
          nullable: true
          description: 延長終了日
        first_communicating_date:
          type: string
          format: date
          nullable: true
          description: 初回通信日
        imsi:
          type: string
          description: IMSI。実データでは 38% が空文字
        ip_address:
          type: string
          nullable: true
          description: IP アドレス
        ip_address_type:
          type: string
          nullable: true
          description: IP アドレス種別
        ipv6_address_dns_primary:
          type: string
          description: IPv6 プライマリ DNS。実データでは 100% が空文字
        ipv6_address_dns_secondary:
          type: string
          description: IPv6 セカンダリ DNS。実データでは 100% が空文字
        ipv6_address:
          type: string
          description: IPv6 アドレス。実データでは 100% が空文字
        line_category:
          type: string
          nullable: true
          description: 回線種別
        line_status_from_mc:
          type: string
          nullable: true
          description: MC 側の回線状態
        line_stoped_date:
          type: string
          format: date
          nullable: true
          description: 回線停止日
        lines_status:
          type: string
          nullable: true
          description: 回線状態
        linestarted_date:
          type: string
          format: date
          nullable: true
          description: 回線開始日
        opening_date:
          type: string
          format: date
          nullable: true
          description: 開通日
        puk1:
          type: string
          nullable: true
          description: |
            PUK1（PIN ロック解除コード）。SIM の PIN を 3 回連続で誤入力してロックした際の
            解除に使います。**取り扱いにご注意ください。**
        user_id:
          type: string
          nullable: true
          maxLength: 40
          description: |
            APN 認証のユーザ ID。APN 設定時に `apn` / `password` と組で使います。
            **取り扱いにご注意ください。**
            値が無い SIM では空文字が返ることがあります（`null` に寄せません）。
        password:
          type: string
          nullable: true
          description: |
            APN 認証のパスワード。APN 設定時に `apn` / `user_id` と組で使います。
            **取り扱いにご注意ください。**
        msisdn:
          type: string
          description: 電話番号。実データでは 11% が空文字
        realm:
          type: string
          nullable: true
          description: レルム
        service_category:
          type: string
          nullable: true
          description: サービス種別
        use_start_expiration_date:
          type: string
          format: date
          nullable: true
          description: 利用開始期限
        shipping_date:
          type: string
          format: date
          nullable: true
          description: 出荷日
        apn:
          type: string
          description: APN。実データでは 24% が空文字
        active_plan_name:
          type: string
          description: 現在適用中のプラン名（商談商品名）。`plan_detail` に相当する。実データでは 15% が空文字
        product_name:
          type: string
          description: 商品名。実データ上 `active_plan_name` と同値。実データでは 15% が空文字
        sim_category:
          type: string
          nullable: true
          description: SIM 種別
        product_name_id:
          type: string
          description: 商品名 ID。名称に反して ID ではなく、`product_name` とは別の商品名が入る。実データでは 15% が空文字
        status:
          type: string
          enum: [stock, ready, active, inactive, terminated, unknown]
          description: |
            回線状態。Salesforce の状態フィールドから CASE 式で導出されます。次の順に評価し、
            最初に当てはまった値になります。

            1. `terminated`: `lines_status` が解約
            2. `stock`: 在庫状態（API には含まれない項目）が在庫で、`shipping_date` が無い
            3. `ready`: `lines_status` が開通で、`shipping_date` がある
            4. `active`: `lines_status` と `line_status_from_mc` がどちらも開通で、`opening_date` がある
               （`shipping_date` があれば 3. の `ready` が先に当たる）
            5. `inactive`: `lines_status` が停止、または SS 側の回線状態（API には含まれない項目。
               `lines_state_ss_for_mypage` とは別の項目）が停止中
            6. `unknown`: 上記のいずれにも該当しない

            一時停止の処理中（`lines_status` は停止、`line_status_from_mc` はまだ開通）の回線は
            `inactive` になります（#126）。

            **`SimSummary` との対応**: `ready` / `active` / `terminated` / `unknown` は共通ですが、
            `stock` と `inactive` はサマリに出力されません。逆にサマリの `subscribed` は
            `status <> 'terminated'` の集計値で、この enum には対応する値がありません（#16）。

            ⚠️ **`active` の件数を稼働回線数として扱わないでください。** 評価順の都合で
            `ready` の条件が先に当たるため、実際に稼働している回線の大半が `ready` に分類されます
            （本番でも `active` はごく少数です）。
            この判定ロジックの見直しは #28 で扱います。
        session_status:
          type: string
          enum: [online, offline]
          description: セッション接続状態。開始済みかつ未終了の CDR がある場合に `online`
        session_created_at:
          type: string
          format: date-time
          nullable: true
          example: "2026-08-18T22:54:11Z"
          description: |
            最新セッションの開始時刻（UTC・秒精度）。セッション履歴が無い場合は `null`。
        session_terminated_at:
          type: string
          format: date-time
          nullable: true
          example: "2026-08-18T22:54:11Z"
          description: |
            最新セッションの終了時刻（UTC・秒精度）。セッションが継続中、または
            セッション履歴が無い場合は `null`。
        lines_state_ss_for_mypage:
          type: string
          example: "未開通"
          description: |
            回線状態（Salesforce `LinesStateSSForMypage__c`）。回線種別で分岐する数式項目で、
            Magic マイページが表示している値そのものです。**画面表示にはこちらを使ってください。**

            ⚠️ `lines_status` とは一致しません。mih sandbox の実測（2026-09-15）では
            SIM 138 件中 71 件（51%）で `lines_status='開通'` に対して本項目が `未開通` でした。

            本番実測（2026-09-16・207 万行）では `null` も空文字もゼロ件で、常に値が入ります。
        product_code:
          type: string
          example: "MC-PLAN-001"
          description: |
            商品コード（Salesforce `productCode__c`）。

            値が無い場合は**空文字**が返ります（`null` にはなりません）。
            本番実測（2026-09-16）で 15.8% が空文字。
        quotation_application_number:
          type: string
          example: "Q-2026-000123"
          description: |
            見積・申込番号（Salesforce `QuotationApplicationNumber__c`）。

            値が無い場合は**空文字**が返ります（`null` にはなりません）。
            本番実測（2026-09-16）で 15.8% が空文字。
        tel:
          type: string
          nullable: true
          example: "04011001010"
          description: |
            電話番号の**国内表記**（Salesforce `tel__c`）。
            `msisdn` は同じ番号の国際表記（例 `814011001010`）で、両方返ります。

            ⚠️ SIM の突き合わせや前方一致検索（`?msisdn=`）には `msisdn` を使ってください。

            ⚠️ **必須キーとして扱わないでください。** 本番実測（2026-09-16・207 万行）で
            **12.4%（約 25 万 SIM）が `null`** です（空文字はゼロ件）。
            `filter_nulls=true`（既定）ではこれらの SIM で**キーごと落ちます**。
            `filter_nulls=false` なら `null` が返ります。
        sim_stock_status:
          type: string
          nullable: true
          example: "白"
          description: |
            SIM 状態（Salesforce `status__c`。`白` / `半黒` / `黒`）。

            ⚠️ 回線状態を表す `status`（`active` / `ready` / …）とは**別物**です。
            CSV エクスポートでも両方の列が並ぶため、列名を分けています。

            本番実測（2026-09-16）で 0.14% が `null`（空文字はゼロ件）。
            `filter_nulls=true`（既定）ではキーごと落ちます。

    SimDetail:
      description: |
        `GET /v1/sims/{sim_id}` の応答。`Sim` の全フィールドに加えて `note` と
        `lines_temporary_stop` を返す。

        `note` は明細でのみ返る。`GET /v1/sims`（一覧）と CSV エクスポートには
        含まれない（#57）。自由記述の備考を顧客向け CSV に混ぜないため、
        明細専用のビュー `mc_sim_detail` に分けている。
      allOf:
        - $ref: "#/components/schemas/Sim"
        - type: object
          properties:
            note:
              type: string
              nullable: true
              maxLength: 255
              example: "不良SIMのため交換対応済み"
              description: |
                備考。単一の上書き型メモで、履歴・作成者・更新時刻は持たない。

                備考が無い SIM では `filter_nulls=true`（既定）なら **キーごと落ち**、
                `filter_nulls=false` なら `null` が返る。どちらも「備考なし」を意味し、
                クライアントは両者を区別しない。**空文字は返らない**（空は `null` に寄せる）。
            lines_temporary_stop:
              type: boolean
              nullable: true
              example: true
              description: |
                回線の一時停止フラグ（Salesforce `Inventory__c.LinesTemporaryStop__c` の値をそのまま返す）。

                明細でのみ返る。`GET /v1/sims`（一覧）と CSV エクスポートには含まれない。
                `false` は `filter_nulls=true`（既定）でも落ちない。値が無い SIM では
                `filter_nulls=true` ならキーごと落ち、`filter_nulls=false` なら `null` が返る。

    SimCount:
      type: object
      description: |
        `GET /v1/sims` と同じ絞り込みに一致する `mc_sims` ビューの行数。
        SIM の枚数ではありません。
      required: [count]
      properties:
        count:
          type: integer
          description: 一致した行数

    SimSummary:
      type: object
      description: |
        顧客に紐づく SIM のステータス別集計。各件数は `mc_sims` の行数を数えたもの。
        表示対象は `GET /v1/sims` と同じ（表示対象外の在庫は数えない）。
        表示対象の在庫が 1 件も無い顧客では、空のオブジェクト `{}` を返す
        （`customer_code`・各件数・`updated_at` のいずれのキーも含まない）。
      properties:
        customer_code:
          type: string
          description: 顧客コード
        total:
          type: integer
          description: 全件
        subscribed:
          type: integer
          description: 解約以外（在庫・停止を含む）
        ready:
          type: integer
          description: 開通済みで出荷済み
        active:
          type: integer
          description: '`status` が `active` の件数（条件は `Sim.status` を参照。稼働回線数ではない）'
        online:
          type: integer
          description: セッション接続中
        terminated:
          type: integer
          description: 解約済み
        unknown:
          type: integer
          description: 上記のいずれにも該当しない
        updated_at:
          type: string
          format: date-time
          nullable: true
          description: |
            集計元データ（`sf.inventory`）の最終更新時刻。当該顧客のレコードのうち
            Salesforce 上で最後に更新されたものの時刻を返す（同期パイプラインの実行時刻ではない）。
            表示対象外の在庫（端末など）の更新も含む。対象レコードが無い場合は null。

    # ----- Statistics -----
    MonthlyUsage:
      type: object
      properties:
        year_month:
          type: string
          description: "YYYYMM 6 桁ゼロ埋め"
          example: "202603"
        downlink_bytes:
          type: integer
        uplink_bytes:
          type: integer

    SimMonthlyUsage:
      allOf:
        - type: object
          properties:
            sim_id:
              type: string
            customer_code:
              type: string
            tel:
              type: string
              nullable: true
              example: "04011001010"
              description: |
                電話番号の国内表記（`sf.inventory.tel__c`）。

                ⚠️ 本 EP は `mc_stats_monthly` を `SELECT *` で読むため、ビューに列が
                増えると応答も増えます。ここに挙げていない列が返ることがあります。
            last_updated_at:
              type: string
              format: date-time
              nullable: true
              example: "2026-08-31T14:48:12Z"
              description: |
                集計元レコード（Salesforce の使用実績）の最終更新時刻（UTC・秒精度）。
                同期パイプラインの実行時刻ではありません。
            reissue_category:
              type: string
              nullable: true
              enum: ["new", "old", "total", null]
              description: |
                SIM 再発行が発生した月のみ値が入る。通常月は `null`。
                - `new`: 再発行後の通信量
                - `old`: 再発行前の通信量（旧 Inventory 配下）
                - `total`: 旧 + 新 の合算行
        - $ref: "#/components/schemas/MonthlyUsage"

    MonthlyUsageBySim:
      type: object
      properties:
        sim_id:
          type: string
          nullable: true
          description: "view は LEFT JOIN のため、参照先の sf.inventory 行が無い場合は null になりうる。"
        year_month:
          type: string
          description: "YYYYMM 6 桁ゼロ埋め"
          example: "202608"
        msisdn:
          type: string
          nullable: true
          description: "sf.inventory.MSISDN__c は NULL 可 (dev 実測 7%)。国際表記 (例 814011001010)。"
        tel:
          type: string
          nullable: true
          example: "04011001010"
          description: |
            電話番号の**国内表記**（`sf.inventory.tel__c`）。`msisdn` は同じ番号の国際表記で、
            両方返ります。

            ⚠️ **必須キーとして扱わないでください。** `sf.inventory.tel__c` 自体が
            本番実測（2026-09-16・207 万行）で 12.4% `null` であるうえ、view は
            LEFT JOIN なので参照先の行が無い場合も `null` になります。
        plan_name:
          type: string
          nullable: true
          description: "sf.use_achievement.PlanName__c は view の WHERE で絞っていないため NULL 可。"
        downlink_bytes:
          type: integer
        uplink_bytes:
          type: integer
        total_bytes:
          type: integer
          description: "サーバ側で `downlink_bytes + uplink_bytes` を計算した値。片方 NULL の場合はもう一方の値。"
        reissue_category:
          type: string
          nullable: true
          enum: ["new", "old", "total", null]
          description: |
            SIM 再発行が起きた月に Salesforce が作る 3 行の種別。通常行は `null`。
            - `new`: 再発行後の通信量
            - `old`: 再発行前の通信量（旧 Inventory 配下）
            - `total`: 旧 + 新 の合算行（新 Inventory と同じ `(sim_id, year_month)` に載る）

    SimDailyUsage:
      type: object
      properties:
        sim_id:
          type: string
          description: SIM 識別子 (ICCID)
        msisdn:
          type: string
        customer_code:
          type: string
        date:
          type: string
          format: date
          description: 対象日 (JST カレンダー日)
        downlink_bytes:
          type: integer
        uplink_bytes:
          type: integer
        total_bytes:
          type: integer
        is_confirmed:
          type: boolean
          description: |
            該当日の値の確定度。`true` = 日次集計（1DAY）で確定済み。
            `false` = 未確定で、`date` が「`checked_at` を JST に変換した日付」の前日以降なら
            5 分粒度集計（5MINS）由来の速報値、それより古い日は補完対象外のため値が不明
            （`0` を「通信なし」として扱わないこと）。
            `date` は JST の日付、`checked_at` は UTC 表記なので、比較の前に TZ を揃えること。
            詳細はエンドポイントの description を参照。
        checked_at:
          type: string
          format: date-time
          description: |
            集計を実行した時刻。**UTC 表記（`YYYY-MM-DDTHH:MM:SSZ`）** で返ります。

            `date` は JST の日付なので、両者を比較する場合は `checked_at` を
            JST（UTC + 9 時間）に変換してください。
        data_through:
          type: string
          format: date
          description: 日次集計が確定している最終日

    SimDailyUsageExport:
      type: object
      description: |
        `GET /v1/stats/sims/{sim_id}/daily_usage/export` の応答。CSV 本体は
        `download_url` からダウンロードします。
      required:
        - file_name
        - row_count
        - download_url
        - expires_in_seconds
        - data_through
      properties:
        file_name:
          type: string
          description: S3 に配置したファイル名。
        row_count:
          type: integer
          minimum: 0
          description: CSV のデータ行数 (ヘッダ行を除く)。0 のときはヘッダのみ。
        download_url:
          type: string
          format: uri
          description: 署名付きダウンロード URL（24 時間有効）。ホストは S3 または CloudFront。
        expires_in_seconds:
          type: integer
          description: 署名付きダウンロード URL の有効秒数。
        data_through:
          type: string
          format: date
          nullable: true
          description: |
            日次集計が確定している最終日。全行同値のため CSV 列でなく本フィールドに 1 度だけ含めます。
            **0 件のときは `null`**（集計状態を返す情報源が無いため）。

    CdrRecord:
      type: object
      properties:
        sim_id:
          type: string
        customer_code:
          type: string
        record_begins_at:
          type: string
          format: date-time
        session_created_at:
          type: string
          format: date-time
          nullable: true
        session_deleted_at:
          type: string
          format: date-time
          nullable: true
        downlink_bytes:
          type: integer
        uplink_bytes:
          type: integer

    CumulativeUsage:
      allOf:
        - $ref: "#/components/schemas/CustomerCumulativeUsage"
      description: |
        `GET /v1/stats/sims/{sim_id}/cumulative_usage` の 1 要素。
        フィールド構成は `CustomerCumulativeUsage` と同一。

    CustomerCumulativeUsage:
      type: object
      properties:
        sim_id:
          type: string
          description: SIM 識別子 (ICCID)
        customer_code:
          type: string
        msisdn:
          type: string
        downlink_bytes:
          type: integer
        uplink_bytes:
          type: integer
        total_bytes:
          type: integer
          description: 生涯通算の通信量（`downlink_bytes` + `uplink_bytes`）
        checked_at:
          type: string
          format: date-time
          example: "2026-08-14T06:45:49Z"
          description: この値を算出した時刻（UTC・秒精度）
        latest_record_time:
          type: string
          format: date-time
          nullable: true
          example: "2026-08-14T06:40:00Z"
          description: 集計に含まれた最新の通信記録の時刻（UTC・秒精度）

    CurrentPlanUsage:
      type: object
      properties:
        sim_id:
          type: string
          description: SIM 識別子 (ICCID)
        customer_code:
          type: string
        msisdn:
          type: string
        downlink_bytes:
          type: integer
        uplink_bytes:
          type: integer
        total_bytes:
          type: integer
          description: 累積通信量
        checked_at:
          type: string
          format: date-time
          example: "2026-08-14T06:45:49Z"
          description: この値を算出した時刻（UTC・秒精度）
        latest_record_time:
          type: string
          format: date-time
          nullable: true
          example: "2026-08-14T06:40:00Z"
          description: 集計に含まれた最新の通信記録の時刻（UTC・秒精度）
        plan_code:
          type: string
          nullable: true
          description: 最新の Executed リチャージ予約のプランコード
        plan_started_at:
          type: string
          format: date-time
          nullable: true
          description: 現プラン開始時刻 (最新 Executed リチャージ予約の実行日時)
        usage_offset_bytes:
          type: integer
          nullable: true
          description: プラン適用時点の累積通信量
        current_plan_used_bytes:
          type: integer
          nullable: true
          description: 現プランでの消費量 = total_bytes − usage_offset_bytes (offset 不明時は null)

    # ----- Exports -----
    ExportAsync:
      type: object
      properties:
        file_name:
          type: string
        download_url:
          type: string
        message:
          type: string
        expires_in_seconds:
          type: integer

    ExportSync:
      type: object
      properties:
        file_name:
          type: string
        row_count:
          type: integer
        file_size_bytes:
          type: integer
        s3_url:
          type: string
        download_url:
          type: string

    # ----- Recharges -----
    RechargeSim:
      type: object
      properties:
        iccid:
          type: string
        product_code:
          type: string
        plan_type:
          type: string
          enum: [capacity, daily]
        extension_end_date:
          type: string
          format: date
        reservation_count:
          type: integer
        recharge_available:
          type: boolean
        usage_offset_bytes:
          type: integer
          description: |
            現プランの容量計算の起点バイト数（直近実行済み予約の通算転送容量オフセット）。
            `現プラン使用量 = 通算転送容量 − usage_offset_bytes` で算出。未リチャージ時は 0。

    RechargeSimsResponse:
      type: object
      properties:
        sims:
          type: array
          items:
            $ref: "#/components/schemas/RechargeSim"
        total_count:
          type: integer
        page_size:
          type: integer
        has_more:
          type: boolean
        next_cursor:
          type: string
          nullable: true

    RechargeSimBalance:
      type: object
      description: |
        SIM の使える総量（現プラン容量 + 繰越）・残量・使用量。容量 3 値は capacity プランのみ値を持ち、
        daily プランおよび総枠未確定時（初回リチャージ前・プランマスタ未登録等）は `null` を返します。
        daily プランは代わりに当日枠（`daily_*`）を返します。
        全プランタイプで同一スキーマのため、該当しない項目は `null` として含まれます。
      properties:
        iccid:
          type: string
          description: SIM 識別子（ICCID）。リクエストパスの `sim_id` と同じ値
        plan_type:
          type: string
          nullable: true
          enum: [capacity, daily, null]
          description: 現在適用中のプラン種別。現プランを特定できない場合（適用中プランが無い・不正等）は `null`
        total_granted_bytes:
          type: integer
          nullable: true
          description: >-
            付与容量（bytes）＝「◯GB 中 ◯GB 残り」の前者。
            現プラン容量 + 繰越（Banked Data）の合計。capacity プランのみ、それ以外は `null`
        total_remaining_bytes:
          type: integer
          nullable: true
          description: >-
            利用可能残量（bytes）＝「◯GB 中 ◯GB 残り」の後者。繰越分を含む。
            サーバ側で `0 ≤ remaining ≤ total_granted_bytes` および `used = granted − remaining`
            の整合を保証するため、利用者側での追加補正は不要。capacity プランのみ
        used_bytes:
          type: integer
          nullable: true
          description: 使用量（bytes、= `total_granted_bytes − total_remaining_bytes`）。capacity プランのみ
        banked_data_bytes:
          type: integer
          nullable: true
          description: >-
            繰越（未消化データ）残高（bytes）。`total_granted_bytes` / `total_remaining_bytes`
            に既に含まれる内訳であり、加算しないこと。繰越の払い出し中（`filler_state != NORMAL`）は
            0 になるが、総枠・残量は繰越分を含んだままなので表示は不連続にならない。capacity プランのみ
        filler_state:
          type: string
          enum: [NORMAL, FILLER_LARGE, FILLER_SMALL]
          description: Filler 状態。UI が「枯渇」と低速モードを区別する補助情報
        checked_at:
          type: string
          format: date-time
          description: 残量を確認した時刻（UTC、RFC 3339 / `...Z` 形式）
        latest_record_time:
          type: string
          format: date-time
          nullable: true
          description: >-
            残量算出に使った使用量データの最新記録時刻（UTC、RFC 3339 / `...Z` 形式）。
            通信実績が無い SIM や、使用量を参照しない状態（総枠未確定など）では `null`。
            daily プランでは当日分の集計に使った最新実績の時刻を返す
        daily_limit_bytes:
          type: integer
          nullable: true
          description: >-
            1 日あたりの上限（bytes）。daily プランのみ。
            日次上限のないプラン（無制限）、リセット周期が 1 日でないプラン、
            およびプラン情報から上限を判定できない場合は `null`
        daily_used_bytes:
          type: integer
          nullable: true
          description: >-
            当日利用量（bytes）。**日本時間 0:00 以降**の実績の合計で、日付が変わると 0 に戻る。
            daily プランのみ。通信実績が無い SIM は `0`
        daily_remaining_bytes:
          type: integer
          nullable: true
          description: >-
            当日残量（bytes）＝ `daily_limit_bytes − daily_used_bytes`（0 未満にはならない）。
            daily プランのみ。`daily_limit_bytes` が `null` の場合は `null`
        error_code:
          type: string
          nullable: true
          description: 成功時（200）は常に `null`（エラー応答と共通の項目）
        message:
          type: string
          nullable: true
          description: 成功時（200）は常に `null`（エラー応答と共通の項目）

    Plan:
      type: object
      properties:
        plan_code:
          type: string
        plan_type:
          type: string
          enum: [capacity, daily]
        capacity_limit:
          type: number
          nullable: true
          description: GB 上限（capacity プランのみ）
        daily_limit:
          type: number
          nullable: true
          description: 日次 GB 上限（daily プランのみ）
        duration_days:
          type: integer
        plan_detail:
          type: string
          nullable: true
          description: プラン詳細（商談商品名）

    PlansResponse:
      type: object
      properties:
        plans:
          type: array
          items:
            $ref: "#/components/schemas/Plan"
        total_count:
          type: integer

    CreateReservationRequest:
      type: object
      required: [plan_code]
      description: |
        `iccid` または `sim_id` のいずれか必須。両指定 + 異なる値、または両欠落は 400 を返します。両指定 + 同値は許容。
      properties:
        iccid:
          type: string
          deprecated: true
          description: 対象 SIM の ICCID
        sim_id:
          type: string
          description: SIM ID（ICCID のエイリアス）
        plan_code:
          type: string
          description: リチャージプランコード

    Reservation:
      type: object
      description: |
        予約作成（`POST /recharges/reservations`）の応答。`executed_at` は含まれません。
      properties:
        reservation_id:
          type: string
          description: 予約 ID（`RR-00012` 形式）
        status:
          type: string
          description: |
            予約ステータス。`Reserved`（予約済み）/ `Executed`（実行済み）/
            `Failed`（失敗）。作成直後は `Reserved`。取り消し済みの予約は一覧に含まれません
          enum: [Reserved, Executed, Failed]
        reserved_at:
          type: string
          format: date-time

    ReservationDetail:
      allOf:
        - $ref: "#/components/schemas/Reservation"
        - type: object
          properties:
            iccid:
              type: string
            plan_code:
              type: string
            executed_at:
              type: string
              format: date-time
              nullable: true
              description: 実行日時（未実行時 null）

    ImmediateRechargeRequest:
      type: object
      required: [plan_code]
      description: |
        `iccid` または `sim_id` のいずれか必須。両指定 + 異なる値、または両欠落は 400 を返します。両指定 + 同値は許容。
      properties:
        iccid:
          type: string
          deprecated: true
          description: 対象 SIM の ICCID（19-20 桁）
        sim_id:
          type: string
          description: SIM ID（ICCID のエイリアス）
        plan_code:
          type: string
          description: 書き換え先プランコード（容量型のみ）
        force:
          type: boolean
          default: false
          description: |
            `true` のとき既存 `Reserved` 予約を Cancelled 化して前倒し実行する。
            既定 `false` の場合は進行中予約があると `409 RESERVATION_EXISTS`。

    ImmediateRechargeResponse:
      type: object
      description: |
        即時リチャージ結果（成功時）。`status='Executed'` で `reservation_id` 等が埋まる。
        エラー時はこのスキーマではなく `Error`（`detail` にオブジェクト）を返すため、
        成功応答に `error_code` フィールドは含まれない。
      properties:
        iccid:
          type: string
        plan_code:
          type: string
        status:
          type: string
          nullable: true
          description: 予約ステータス（成功時 `Executed`）
        reservation_id:
          type: string
          nullable: true
          description: 生成された予約レコード ID
        sync_status:
          type: string
          nullable: true
          description: Inventory の同期ステータス（成功時 `実行中` → 下流で `実行済`）
        superseded_reservation_ids:
          type: array
          items:
            type: string
          description: force で Cancelled 化した既存 Reserved 予約 ID
        message:
          type: string

    ReservationsResponse:
      type: object
      properties:
        reservations:
          type: array
          items:
            $ref: "#/components/schemas/ReservationDetail"
        total_count:
          type: integer
        page_size:
          type: integer
        has_more:
          type: boolean
        next_cursor:
          type: string
          nullable: true

    # ----- Common -----
    Error:
      type: object
      description: |
        エラー応答。`detail` は 2 形式のいずれかで、クライアントは両方を扱う必要があります。

        - **文字列** — SIMs / Stats / Exports、および全エンドポイント共通の `customer_code` の解決で返るエラー
          （400: `customer_code` と `customer_id` の不一致・未指定 / 401: 認証コンテキストなし /
          403: 認証スコープと不一致）
        - **オブジェクト** — Recharges の上記以外のエラー（`iccid` / `sim_id` の未指定・不一致、
          プラン詳細の 404 を含む）。中の `errorCode` / `message` はキャメルケースです

        API キーが不正・未指定の場合は API Gateway が応答するため、`detail` を持たない
        `{"message": "Forbidden"}` が返ります。
      properties:
        detail:
          oneOf:
            - type: string
            - type: object
              properties:
                errorCode:
                  type: string
                  description: |
                    エラーコード。`BAD_REQUEST`（汎用の入力・状態エラー）/
                    `LIMIT_EXCEEDED`（予約上限到達）/ `PLAN_MISMATCH`（プラン不整合）/
                    `REALM_MISMATCH`（レルム不整合）/ `FORBIDDEN`（権限なし）/
                    `NOT_FOUND`（対象なし）/ `VALIDATION_ERROR`（リクエストボディ不正）。
                    即時リチャージはこれとは別系統で `INVALID_REQUEST` / `INVALID_ICCID` /
                    `INVALID_PLAN` / `REALM_MISMATCH` / `FORBIDDEN_TENANT` / `NOT_FOUND` /
                    `ALREADY_SYNCING` / `RESERVATION_EXISTS` / `EXECUTION_FAILED` /
                    `USAGE_UNAVAILABLE` を返します。
                    上記は代表的なもので網羅ではありません。下流サービスの障害時には
                    `SF_AUTH_ERROR` / `SF_API_ERROR` / `INTERNAL_ERROR` / `UNKNOWN_ERROR` なども返ります
                message:
                  type: string
                  description: |
                    エラーの詳細。同じ `errorCode` でも条件により内容が異なります
                    （例: 解約済み SIM への予約は `BAD_REQUEST` + `SIM is terminated`）
                errors:
                  type: array
                  items:
                    type: object
                  description: |
                    リクエストボディの形式が不正な場合（必須キーの欠落・型不正）のみ、`message` の代わりに
                    不正箇所の配列が入ります（`errorCode` は `VALIDATION_ERROR`）。
                    値が空文字の場合など、同じ `VALIDATION_ERROR` でも `message` で返る場合があります

  responses:
    BadRequest:
      description: バリデーションエラー
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: 認可情報が伴わないリクエスト
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: |
        認証スコープ外の要求、または指定リソースへのアクセス権限がない。
        `customer_code` に認証情報と異なる顧客コードを指定した場合、認証情報に顧客スコープが無い場合、
        または指定 SIM を当該顧客が所有していない場合。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: リソースが見つからない
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    BadGateway:
      description: 上流サービスエラー
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
